<!-- index.nunjucks -->
{% extends "layout.html" %}

{% block content %}
<!-- banner -->
<div class="bnr" style="background-image: url(img/bnr.jpg)">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6">
                <h1>ATMOSPHERIC STAY
                    IN AUTHENTIC LEIDEN</h1>
                <p>Leiden’s most centrally located hotel.
                        With ample parking facilities, incl. free Shuttle Service.</p>
            </div>
        </div>
    </div>
</div>
<div class="bnr__form">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-3 col-sm-4">
                <div class="bnr__form-item">
                <h6>Check In</h6>
                <div class="custom-select">
                    <span>26<small>/june</small></span>
                </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="bnr__form-item">
                <h6>Check Out</h6>
                <div class="custom-select">
                    <span>26<small>/june</small></span>
                </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="bnr__form-item">
                <h6>Quest</h6>
                <div class="custom-select">
                    <span>03</span>
                </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="bnr__form-button">
                <a href="#" class="button">Book Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /banner -->
<!-- content -->
<div class="container">
    <div class="top-text">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="top-text__img"><img src="img/content-img.jpg" alt=""></div>
            </div>
            <div class="col-lg-6">
                <h2 class="title">Impressions of the 6 room 
                        boutique Hotel</h2>
                <p>
                        We warmly welcome you to the vibrant heart of Leiden.
                        The Best Western City Hotel is the most centrally located hotel in the centre of Leiden.
                        Catch your breath in this oasis of tranquillity, and escape from everything the city has to offer.
                </p>
            </div>
        </div>
    </div>
    <div class="tags">
        <div class="row">
            <div class="col-md-3">
                <div class="tags__item">
                    <figure>
                        <img src="img/tag1.png" alt="">
                        <figcaption>City Centre</figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-3">
                <div class="tags__item">
                    <figure>
                        <img src="img/tag2.png" alt="">
                        <figcaption>Intimate Vibe</figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-3">
                <div class="tags__item">
                    <figure>
                        <img src="img/tag3.png" alt="">
                        <figcaption>Parking+Free Shuttle</figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-3">
                <div class="tags__item">
                    <figure>
                        <img src="img/tag4.png" alt="">
                        <figcaption>Short Stay Possible</figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /content -->
<div class="book">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-1">
                 <div class="book__slider">
                    <div class="book__slider-item">
                        <img src="img/slider.jpg" alt="">
                    </div>
                    <div class="book__slider-item">
                        <img src="img/slider.jpg" alt="">
                    </div>
                    <div class="book__slider-item">
                        <img src="img/slider.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <article>
                <h2 class="title">Book direct and benefit</h2>
                <p>We love treats - who doesn't? Book your stay with us directly and we'll treat you to a €30 hotel credit (or €60 for suite bookings) to enjoy in our restaurants, bars or spa, an upgrade and early check in and late check out. The best offer you will find, guaranteed. T&Cs apply.</p>
                <a href="#" class="button">BOOK YOUR STAY</a>
                </article>
            </div>
        </div>
    </div>
</div>
<div class="text">
    <div class="container">
        <div class="text_center">
            <p>Our hotel is renowned for its gorgeous Art Nouveau interiors. Yet in the hands of award-winning designer Piero Lissoni, even those features have achieved a new beauty. Throughout our spacious, light-filled guest rooms and suites, the hotel's original legacy meets the most refined modern materials, colours and technology. In every sense, it's the best of both centuries. Perhaps this is one reason Cond Nast selected us as the finest luxury hotel in The Netherlands.</p>
            <a href="#" class="button">VIEW ALL OFFERS</a>
        </div>
    </div>
</div>
<!-- packages -->
<div class="packages">
    <div class="container">
        <h2 class="title text_center">Our Packages</h2>
        <div class="row justify-content-center">
            <div class="col-lg-11">
                <div class="row">
                    <div class="col-md-4">
                        <div class="packages__img"><img src="img/package1.jpg" alt=""></div>
                    </div>
                    <div class="col-md-4">
                            <div class="packages__img"><img src="img/package2.jpg" alt=""></div>
                    </div>
                    <div class="col-md-4">
                        <div class="packages__img"><img src="img/package3.jpg" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /packages -->
{% endblock %}